{% extends 'layout.twig' %}
{% block title %} Check Voucher Bundle Stats {% endblock %}
{% block extra_head %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- RADIUS -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3447974026628607" data-ad-slot="7851289975" data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="col-sm-12 col-md-5">
        <h3>Check your AlwaysOn Bundle</h3>
        <hr class="my-4">
        {% if not result %}
        <form method="POST" action="/check-voucher">
          <div class="form-group">
            <label for="voucher_code">Voucher Code</label>
            <input type="text" class="form-control" id="voucher_code" required aria-describedby="voucher_code" placeholder="e.g 00000-11111" name="voucher_code">
            <small id="voucher_code" class="form-text text-muted">Enter your voucher code</small>
          </div>
          <div class="form-group"
            {{ captcha }}
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary" role="button">Check</button>
          </div>
        </form>
        {% endif %}
        {% if result %}
          <a href="/check-voucher" class="btn btn-primary">Check Again</a> 
        {% endif %} 

        <hr class="my-4">
        {% if result %}
        <h4>Results for {{ voucher_code }}:</h4>
        <div class="lead">
          <p>Total Bundle: <strong>{{ quota }} Megabytes</strong> (or {{ quota / 1000|round(2) }} Gb)</p>
          <p>Total Used: <strong>{{ total_used|round(2) }} Megabytes</strong></p>
          <p>Total Left: <strong>{{ total_left|round(2) }} Megabytes</strong></p>
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" role="alert" ng-if="error">
          <p>
            Oops! Something didn't go as planned. See error below, if it makes any sense:
          </p>
          <p>
            {{ error }}
          </p>
          <p>
            {% if not quota %}
              Is there a chance your voucher code does not exist? Try a valid voucher code then.
            {% endif %}
          </p>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
